.usuariosesp{
    background-color: #221f4b;
}

.cadastrar-button{
    width: 55%;
    border-radius: 2.3vh;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #242325;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadastrar-button:hover{
    background-color: #f0f0f0;
}

.usuariosespcorpointerno{
    background-color: #f0f0f0;
    color: #242325;
}
.selectue{
    text-align: center;
    color: #fff;
    background-color: #221f4b;
}

@media (max-width: 768px) {
    .usuariosesp{
        height: 400px;
    }
    .titleselect{
        flex-direction: column;
        gap: 10px;
    }
    .w045_80{
        width: 80%;
        text-align: center;
    }
}