.container {
  height: 24vh;
  /* margin: 2%; */
  /* padding: 0 0.5vh; */
  /* margin-top: 1vh ; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #4b2354;
  margin-bottom: 2vh;
  border-bottom: 0.4vh solid #4b2354;
}

/*style cards*/  
.card{
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  width: 18vw;
  gap:0.8vh;
  
}
.metric-um {
  width: 100%;
  /* margin-top: 1vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  border-radius: 10px;
}
.bpm {
  background: #f4a3a3;
  color: #b22222;
}

.metric-dois {
  /* width: 7.1vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.1vh; */
  border-radius: 10px;
  /* margin-bottom: 1vw; */
}
.temp {
  padding: 1vh 1vw;
  background: #fdb44b;
  color: #d35400;
}

.metric-tres {
  /* width: 7.5vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  border-radius: 10px;
  /* margin-bottom: 1vw; */
}
.spo2 {
  background: #e0e0e0;
  color: #4b2354;
}