.container {
  height: 38vh;
  padding: 30px;
  margin-top:25px ;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}
.title {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #4b2354;
  margin-bottom: 10px;
  border-bottom: 2px solid #4b2354;
  padding-bottom: 5px;
}
.card-itens {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.metric {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.bpm {
  background: #f4a3a3;
  color: #b22222;
}
.temp {
  padding: 1vh 1vw;
  background: #fdb44b;
  color: #d35400;
}
.spo2 {
  background: #e0e0e0;
  color: #4b2354;
}