.container {
  padding: 30px;
  margin-top:25px ;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card {
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  }
  .card h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .alert {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
  }
  .alert-bpm {
    color: #ff4d4d;
  }
  .alert-temp {
    color: #ffcc00;
  }
  .alert-oxigenio {
    color: #00b300;
  }
  .card p {
    font-weight: bold;
    color: #333;
    font-size: 30px;
    margin: 10px 0;
  }
  .card span {
    font-size: 24px;
    font-weight: bold;
  }
  .card img {
    height: 30px;
  
  }
  .card .container_heart{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 2pxpx;
    border-radius:20px;
    border: 20px;
   
   
  }