.header {
    top: 0;
    left: 0;
    margin: 0;
    width: 96vw;
    height: 2vh;
    position: absolute;
    background: #333;
    color: white;
    padding: 20px 2vw;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}
.header-buttons {
    display: flex;
}
.header-button-menu {
    margin-top: 0.8vh ;
    margin-left: auto;
    margin-bottom: 0.2vw;
    background: #333;
    border: none;
    padding: 1.5vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1vw;
    transition: background 0.8s;
}
.header-button:hover {
    background: #333;
}   

.header-button-saida{
    margin-top: 0.8vh ;
    margin-left: 90vh;
    margin-bottom: 0.2vw;
    background: #333;
    border: none;
    padding: 1.5vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1vw;
    transition: background 0.8s;
}
.button-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.2vw ;
   height: 0.5vh;
   margin: 0;
}
.button-saida{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
}