.header {
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 8.2vh;
    position: absolute;
    background: #242325;
    color: white;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #242325;
}
.header-buttons {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.header-button-menu {
    margin-right: 3%;        
    background: #242325;
    border: none;
    cursor: pointer;
}
.header-button:hover {
    background: #242325;
}   

.header-button-saida{
    background: #242325;
    border: none;
    padding: 1%;
    cursor: pointer;
}
.button-menu{
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}
.button-saida{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    font-size: 1.2rem;

}
.menu-card {
    position: absolute;
    top: 8.2vh;
    left: 0vh;
    background: #242325;
    border-radius: 0.7vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    min-width: 200px;
}

.menu-item {
    color: white;
    display: flex;
    justify-self: flex-start;
    background: none;
    border: none;
    padding: 1.5vh;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.menu-item:hover {
    border-radius: 0.8vh;
    background: #4d4f50;
}

.mensagem-saida {
    position: absolute;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    top: 100%;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.header-button-saida:hover .mensagem-saida {
    opacity: 1; 
}



