.header {
    top: 0;
    left: 0;
    margin: 0;
    width: 96vw;
    height: 3.8vh;
    position: absolute;
    background: #333;
    color: white;
    padding: 20px 2vw;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}
.header-buttons {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.header-button-menu {
    margin-top: 0.8vh ;
    margin-bottom: 0.2vw;
    background: #333;
    border: none;
    padding: 1.5vh 1vw;
    cursor: pointer;
}
.header-button:hover {
    background: #333;
}   

.header-button-saida{
    margin-top: 0.8vh ;
    margin-bottom: 0.2vw;
    background: #333;
    border: none;
    padding: 1.5vh 1vw;
    cursor: pointer;
}
.button-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3vw ;
   height: 0.9vh;
   margin: 0;
}
.button-saida{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
}
.titulo {
    margin-top: 1.7vh;
    margin-bottom: 0.2vw;
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}
