.register-user-container{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 85%;
  background-color: aqua;
}





.register-user{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 26vh;
  background-color: white;
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 2.3vh;
  width: 20vw;
}
input[type="text"] {
  color: black;
  background-color: white;
  border: none;
  border-bottom: 0.3vw solid black;
  outline: none;
  font-size: 2vh;
  padding: 0.1vh 0;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-bottom: 0.2vw solid rgb(27, 27, 27);
}