.register-container {
  background-color: #2c2863;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ffffff;
    font-size: 1.5rem;
    /* margin-bottom: 1.5vw; */
}

.form-wrapper {
    display: flex;
    gap: 4vh;
    background-color: #221f4b
}


.profile-text {
    color: #ffffff;
    font-size: 0.8rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1vh;
}

.input-field {
    box-sizing: border-box;
    padding-left: 5%;
    min-height: 50px;
    height: 25%;
    width: 100%;
    background-color: #110f2b;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 0.5vh;
    border: none;
    outline: none;
    transition: all 0.4s ease-in-out;
}

.input-field:valid {
border-bottom: solid 1px #aaa;
scale: calc(1.05);

}



.submit-button {
    transition: 0.3s;
    margin-top: 2.5vh;
    background-color: #ffffff;
    color: #000000;
    padding: 0.8vw 1.6vh;
    width: 55%;
    border-radius: 1vh;
    cursor: pointer;
    border: none;
}

.submit-button:hover {
    transition: 0.3s;
    background-color: #d6d6d6;
}