
/* Organiza todos os cards existentes*/
.meio-pagina {
    position: absolute;
    width: 100vw ;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    
  
} 

/* Remove a barra de rolagem de vista, caso queira apenas estilizar*/
.meio-pagina::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}