
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* INICIO-HEADER */
.header {
  top: 0;
  left: 0;
  margin: 0;
  width: 96vw;
  height: 3.8vh;
  position: absolute;
  background: #333;
  color: white;
  padding: 20px 2vw;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333;
}
.header-buttons {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.header-button-menu {
  margin-top: 0.8vh ;
  margin-bottom: 0.2vw;
  background: #333;
  border: none;
  padding: 1.5vh 1vw;
  cursor: pointer;
}
.header-button:hover {
  background: #333;
}   

.header-button-saida{
  margin-top: 0.8vh ;
  margin-bottom: 0.2vw;
  background: #333;
  border: none;
  padding: 1.5vh 1vw;
  cursor: pointer;
}
.button-menu{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 3vw ;
 height: 0.9vh;
 margin: 0;
}
.button-saida{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
}
.titulo {
  margin-top: 1.7vh;
  margin-bottom: 0.2vw;
  display: flex;
  justify-content: flex-start; 
  width: 100%;
}

/* FINAL-HEADER */


/*INICIO-MIDDELE */

/* Organiza todos os cards existentes*/
.meio-pagina {
  position: absolute;
  top: 8.5vh;
  left: 0;
  width: 100vw ;
  height: 91.5vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: center;
  
} 

/* Remove a barra de rolagem de vista, caso queira apenas estilizar*/
.meio-pagina::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}

/* FINAL-MIDDLE */


/* INICIO-CARDS */
.container {
  height: 38vh;
  /* padding: 30px; */
  margin-top:25px ;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card {
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  }
  .card h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .alert {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
  }
  .alert-bpm {
    color: #ff4d4d;
  }
  .alert-temp {
    color: #ffcc00;
  }
  .alert-oxigenio {
    color: #00b300;
  }
  .card p {
    font-weight: bold;
    color: #333;
    font-size: 30px;
    margin: 10px 0;
  }
  .card span {
    font-size: 24px;
    font-weight: bold;
  }
  .card img {
    height: 30px;
  }
  .card .container_heart{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 2pxpx;
    border-radius:20px;
    border: 20px;
  }

  /* FINAL-CARDS */


  /* INICIO-FOOTER */
  footer {
    left: 0;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 14px;
}

/* FINAL-FOOTER */






/* 

.w? = width px;
.w0? = width %;
.wmax? = max-width px;
.wmax0? = max-width %;
.wmin? = min-width px;
.wmin0? = min-width %;

*/
.reset{
  border: 0;
  padding: 0;
  margin: 0;
}
.ww1{
  width: 100vw;
}

.w1{
    width: 100%;
}
.w080{
    width: 80%;
}
.w060{
    width: 60%;
}
.w050{
    width: 50%;
}

.w045{
  width: 45%;
}
.w040{
    width: 40%;
}

.w035{
    width: 35%;
}
.w025{
    width: 25%;
}
.w020{
    width: 20%;
}
.w200{
    width: 200px;
}
.w500{
    width: 500px;
}
.w600{
    width: 600px;
}
.w800{
    width: 800px;
}

.wmin100{
    min-width: 100px;
}
.wmin150{
    min-width: 150px;
}
.wmin200{
    min-width: 200px;
}
.wmin250{
  min-width: 250px;
}
.wmin300{
  min-width: 300px;
}

.hh1{
  height: 100vh;
}

.h1{
    height: 100%;
}


.h50{
    height: 50px;
}
.h70{
    height: 70px;
}
.h100{
    height: 100px;
}
.hmin100{
    min-height: 100px;
}
.hmin300{
    min-height: 300px;
}
.hv100{
    height: 100vh;
}

.hvmin90{
    min-height: 90vh;
}

.hvmax90{
    max-height: 90vh;
}

.p005{
    padding: 5%;
}
.p004{
    padding: 4%;
}
.p002{
    padding: 2%;
}
.m004{
    margin: 4%;
}
.m001{
  margin: 1%;
}
.m002{
    margin: 2%;
}
.ml010{
    margin-left: 10%;
}
.mr010{
    margin-right: 10%;
}
.mb010{
    margin-bottom: 10%;
}
.mt010{
    margin-top: 10%;
}


.fs1{
   font-size: 1rem; 
}



.df{
    display: flex;
}

.ac{
    align-items: center;
}

.jcc{
    justify-content: center;
}

.jcfe{
    justify-content: flex-end;
}

.jcsb{
    justify-content: space-between;
}

.jcsa{
    justify-content: space-around;
}
.jcse{
    justify-content: space-evenly;
}

.fdr{
    flex-direction: row;
}

.fdc{
    flex-direction: column;
}

.fww{
    flex-wrap: wrap;
}
.tac{
    text-align: center;
}

.br20{
    border-radius: 20px;
}

.brtop20{
    border-radius: 20px 20px 0 0;
}

.brbot20{
    border-radius: 0 0 20px 20px;
}






