.config {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 14vh;
    background-color: #94a5ce30;
    border-radius: 8vw;
    border: solid 3px #889ee9;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    justify-content: space-evenly;
}

.campo-config {
    width: 80%;
    padding: 2%;
    background-color: #14141414;
    display: flex;
    border-radius: 3vw;
    flex-direction: column;

}

.lista-config {
    height: 20vh;
   display: flex;
   flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.item{
    margin: 2%;
    border: solid 2px #889ee9;
    border-radius: 8vw;
    display: flex;
  
}

.option-config {
    width: 50vw;
}

.excluir-option {
    transition: 0.2s;
    width: 30vw;
    background: transparent;
    border: none;
    border-left: solid 2px #889ee9 ;
    border-radius: 1vw;
}

.excluir-option:hover {
    transition: 0.2s;
    cursor: pointer;
    background: #ac2323;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .botoes-modal {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirmar {
    transition: 0.2s;
    background-color: rgb(202, 202, 202);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
  }

  .confirmar:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(167, 165, 165);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .cancelar {
    transition: 0.2s;
    background-color: rgb(236, 17, 17);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
  }

  
  .cancelar:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(194, 13, 13);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
  }